@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  user-select: none;
}

.magic {
  filter:drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
}

.inner-magic {
  background: rgb(39,29,214);
  background: radial-gradient(circle, rgba(39,29,214,1) 0%, rgba(9,9,121,1) 35%, rgba(0,0,0,1) 100%);
}

.triangle {
  clip-path: polygon( 53.284% 100%,53.284% 100%,52.828% 100.729%,52.295% 101.296%,51.705% 101.702%,51.076% 101.945%,50.429% 102.026%,49.781% 101.945%,49.152% 101.702%,48.562% 101.296%,48.029% 100.729%,47.573% 100%,0.857% 7.934%,0.857% 7.934%,0.483% 6.984%,0.289% 6%,0.262% 5.014%,0.39% 4.057%,0.66% 3.161%,1.06% 2.357%,1.578% 1.677%,2.201% 1.153%,2.917% 0.815%,3.713% 0.695%,97.144% 0.695%,97.144% 0.695%,97.94% 0.815%,98.656% 1.153%,99.279% 1.677%,99.797% 2.357%,100.197% 3.161%,100.468% 4.057%,100.596% 5.014%,100.569% 6%,100.374% 6.984%,100% 7.934%,53.284% 100% );
}
